.nav-style {
	background-color: #252525;
	color: white;
	navbutton_background_color: yellow;
}

#thank-you {
	margin-top: 10rem!important;
	margin-bottom: 19.5rem!important;
	padding: 4rem!important;
	background-color: #eeeeee;
}

#nav-image-small {
	width: 64px;
	height: 64px;
}

#search-button {
	margin: 0.5rem!important;
}


@media (max-width: 450px) {

	#search-button {
		padding-left: 0.5rem!important;
		padding-right: 0.5rem!important;
		margin: 0.5rem!important;
}

	#search-text {
		width: 140px;
		height: 40px;
	}
}

@media (max-width: 400px) {

	.footer-position {
		position:absolute;
		left:0;
		bottom:0;
		right:0;
	}

	#search-text {
		width: 80px;
		height: 40px;
	}

	h1 {
		font-size: 2rem!important;
	}

}

.navbar-toggler-icon {
	border: none!important;
	border-radius: 0!important;
	color: rgba(255, 215, 0, 0.5)!important;
}

footer {
	background-color: #252525;
	height: 50px;
	padding-top: 10px;
}

#twitter {
	text-align: center;
	color: white;
}

a:hover, a:visited, a:link, a:active
{
	text-decoration: none!important;
}

#twitter:hover {
	color: yellow;
}

#faTweet {
	color: white;
}

#faTweet:hover {
	color: yellow;
}

#facebook {
	text-align: center;
	color: white;
}

#facebook:hover {
	color: yellow;
}

#faFb {
	color: white;
}

#faFb:hover {
	color: yellow;
}

#email {
	text-align: center;
	color: white;
}

#email:hover {
	color: yellow;
}

#faEmail {
	color: white;
}

#faEmail:hover {
	color: yellow;
}

.bg-modal {
	background-color: rgba(37, 37, 37, 0.7);
}

.footer-position {
	position: relative;
	left:0;
	bottom:0;
	right:0;
}
