.nav-style {
	background-color: #252525;
	color: white;
}

#thank-you {
	margin-top: 10rem!important;
	margin-bottom: 19.5rem!important;
	padding: 4rem!important;
	background-color: #eeeeee;
}

#nav-image-small {
	width: 64px;
	height: 64px;
}

#search-button {
	margin: 0.5rem!important;
}


@media (max-width: 750px) {

	#sign-up-label {
		margin-right: 0!important;
		margin-left: 0!important;
		margin-bottom: 0!important;
	}

	#sign-in-label {
		margin-right: .25rem!important;
		margin-left: 0!important;
		margin-bottom: 0!important;
	}


	#search-button {
		padding-left: 0.5rem !important;
		padding-right: 0.5rem !important;
		margin: 0.5rem !important;
	}

	#search-text {
		width: 140px;
		height: 40px;
	}
}

@media (max-width: 500px) {

	#search-button {
		padding-left: 0.5rem!important;
		padding-right: 0.5rem!important;
		margin: 0.5rem!important;
}

	#search-text {
		width: 140px;
		height: 40px;
	}
}

@media (max-width: 400px) {

	.footer-position {
		position:absolute;
		left:0;
		bottom:0;
		right:0;
	}

	#search-text {
		width: 80px;
		height: 40px;
	}

	h1 {
		font-size: 2rem!important;
	}

}

footer {
	background-color: #252525;
	height: 50px;
	padding-top: 10px;
}

#twitter {
	text-align: center;
	color: white;
}

a:hover, a:visited, a:link, a:active
{
	text-decoration: none!important;
}

#twitter:hover {
	color: yellow;
}

#faTweet {
	color: white;
}

#faTweet:hover {
	color: yellow;
}

#facebook {
	text-align: center;
	color: white;
}

#facebook:hover {
	color: yellow;
}

#faFb {
	color: white;
}

#faFb:hover {
	color: yellow;
}

#email {
	text-align: center;
	color: white;
}

#email:hover {
	color: yellow;
}

#faEmail {
	color: white;
}

#faEmail:hover {
	color: yellow;
}

.bg-modal {
	background-color: rgba(37, 37, 37, 0.7);
}

.footer-position {
	position: relative;
	left:0;
	bottom:0;
	right:0;
}

#sign-up-label:hover {
	color: #F5FF38;
	cursor: pointer;
}

#sign-in-label:hover {
	color: #F5FF38;
	cursor: pointer;
}

#sign-up-label {
	margin-right: 3rem;
	margin-left: 3rem!important;
	margin-bottom: 0!important;
}

#sign-in-label {
	margin-right: 3rem;
	margin-left: 3rem!important;
	margin-bottom: 0!important;
}

.navbar-toggler {
	border: none!important;
}

.navbar-toggler-icon {
	background-image: url("../shared/components/main-nav/images/hamburger2.svg")!important;
	background-size: 64px!important;
}

#menuSignOut {
	display: none;
}

@media (max-width: 975px) {

	#sign-up-label {
		margin-right: 0!important;
		margin-left: 0!important;
		margin-bottom: 0!important;
	}

	#sign-in-label {
		margin-right: .25rem!important;
		margin-left: 0!important;
		margin-bottom: 0!important;
	}


	#search-box {
		display: none!important;
	}

	#menuSignOut {
		display: inline-block;
	}
}

#search-box {
	padding-top: 0.5rem;
}