footer {
	background-color: #252525;
	height: 50px;
	padding-top: 10px;
}

#twitter {
	text-align: center;
	color: white;
}

#twitter:hover {
	color: yellow;
}

#faTweet {
	color: white;
}

#faTweet:hover {
	color: yellow;
}

#facebook {
	text-align: center;
	color: white;
}

#facebook:hover {
	color: yellow;
}

#faFb {
	color: white;
}

#faFb:hover {
	color: yellow;
}

#email {
	text-align: center;
	color: white;
}

#email:hover {
	color: yellow;
}

#faEmail {
	color: white;
}

#faEmail:hover {
	color: yellow;
}