.recipe-form {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	margin: 10px;
	padding: 15px;
	border-radius: 10px;
	border: 7px solid #252525;
}

.recipe-form-text input[type=text] {
	padding: 5px 8px;
	box-sizing: border-box;
}

.recipe-form-line {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	margin-top: 5px;
}

.recipe-form-line-input input {
	margin-left: 15px;
}

.buttons {
	color: #ffd739;
	background-color: #eeeeee;
	border-radius: 6px;
	padding: 0 10px 1px 10px;
	margin: 8px 0;
	align-self: flex-end;
	font-size: 1.1em;
}

.close-button {
	background-color: transparent;
	background-repeat: no-repeat;
	border: none;
	cursor: pointer;
	overflow: hidden;
	font-size: 1.5em;
	color: #ffd739;
	text-shadow: 0 1px 0 #333333;
	align-self: flex-start;
}

.recipe-form-container {
	display: flex;
	align-items: center;
	justify-content: center;
}
.bg-modal {
	background-color: rgba(37, 37, 37, 0.7);
}