<phpunit>
	<testsuites>
		<testsuite name="Cookbook Test Suite">
			<file>UserTest.php</file>
			<file>CategoryTest.php</file>
			<file>RecipeTest.php</file>
<!--			<file>InteractionTest.php</file>-->
		</testsuite>
	</testsuites>
	<filter>
		<whitelist processUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">..</directory>
		</whitelist>
	</filter>
</phpunit>